@model IEnumerable<Barinak.Models.Kategori>

@{
    ViewData["Title"] = "KategoriList";
}

@if (TempData["msj"] is not null)
{
    <div class="text-danger">@TempData["msj"]</div>
}


<div class="clearfix">
    <h4 class="float-start">Kategori Listele</h4>
    <a type="button" class="btn btn-success float-end" asp-action="Index">Kategorileri Kaydet</a>
</div>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAdi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAdi)
            </td>
            <td>
                <a asp-action="KategoriDuzenle" asp-route-id="@item.KategoriID">Düzenle</a> |
                <a asp-action="KategoriDetay" asp-route-id="@item.KategoriID">Detay</a> |
                <a asp-action="KategoriSil" asp-route-id="@item.KategoriID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
