@model IEnumerable<Barinak.Models.Tur>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["msj"] is not null)
{
    <div class="text-danger">@TempData["msj"]</div>
}

<div class="clearfix">
    <h4 class="float-start">Turler</h4>
    <a type="button" class="btn btn-success float-end" asp-action="TurEkle">Tur Ekle</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TurCins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TurYas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TurCins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurYas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriID)
            </td>
            <td>
                <a asp-action="TurDuzenle" asp-route-id="@item.TurID">Düzenle</a> |
                <a asp-action="TurDetay" asp-route-id="@item.TurID">Detay</a> |
                <a asp-action="TurSil" asp-route-id="@item.TurID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
