@model IEnumerable<Barinak.Models.Kategori>

@{
    ViewData["Title"] = "KategoriList";
}

@inject LanguageService language

<h1>@localization.Getkey("Category").Value</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@language.Getkey("KategoriAdi")</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.KategoriAdi)</p>
                    <a class="btn btn-primary" asp-action="KategoriDetay" asp-route-id="@item.KategoriID">@Html.DisplayFor(modelItem => item.KategoriAdi) Kategorisine Git</a>
                </div>
            </div>
        </div>
    }
</div>


