@model IEnumerable<Barinak.Models.UyeOl>

@{
    ViewData["Title"] = "UyeList";
}

@if (TempData["msj"] is not null)
{
    <div>@TempData["msj"]</div>
}

<div class="clearfix">
    <h4 class="float-start">Üyeler Listesi</h4>
    <a type="button" class="btn btn-success float-end" asp-action="KullaniciEkle">Yeni Kullanıcı Ekle</a>
</div>


<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UyeOlID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sifre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Şehir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UyeOlID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sifre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Şehir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="UyeDuzenle" asp-route-id="@item.UyeOlID">Düzenle</a> |
                    <a asp-action="UyeDetay" asp-route-id="@item.UyeOlID">Detay</a> |
                    <a asp-action="UyeSil" asp-route-id="@item.UyeOlID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
